.img-icon {
  max-width: 64px;
  margin: 20px;
}

.version-label {
  display: block;
  background-color: #f6f8fa;
  border-radius: 5px;
  font-size: 14px;
  padding: 4px 12px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.code-block {
  margin-top: 40px;
  margin-bottom: 40px;
}

.code-block > span {
  display: block;
}

.code-block > h5 {
  padding-bottom: 4px;
  border-bottom: 1px solid #eee;
}

.code-ln {
  background-color: #f6f8fa;
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 12px;
  margin-bottom: 10px;
}

